<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>All Battery Tests</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">

</head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>

<h2>All Battery Tests</h2>
<a th:href="@{/battery-tests/add}" class="btn btn-add">➕ Add Battery Tests</a>
<a th:href="@{/battery-tests/upload}" class="btn btn-add">➕ Upload Battery Test CSV</a>
<table>
    <thead>
    <tr>
        <th>Battery Serial</th>
        <th>Brand</th>
        <th>Test Date</th>
        <th>Voltage</th>
        <th>Resistance</th>
        <th>Temp</th>
        <th>Tester</th>
        <th>1v1</th>
        <th>18v2</th>
        <th>Amp Hours</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="test : ${tests}">
        <td th:text="${test.battery.serialNumber}"></td>
        <td th:text="${test.battery.brand}"></td>
        <td th:text="${test.testDate}"></td>
        <td th:text="${test.voltage}"></td>
        <td th:text="${test.internalResistance}"></td>
        <td th:text="${test.temperature}"></td>
        <td th:text="${test.tester}"></td>
        <td th:text="${test.oneV1}"></td>
        <td th:text="${test.eighteenV2}"></td>
        <td th:text="${test.ampHours}"></td>
        <td>
            <a th:href="@{'/batteries/' + ${test.battery.id}}" class="btn">View Battery</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
