<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<div th:fragment="navbar">
    <nav style="background:#333; padding:10px; display:flex; align-items:center; justify-content:space-between;">
        <div>
            <img src="/images/rtrlogo-nav.png" style="height:40px; vertical-align:middle; margin-right:15px;"/>
            <a href="/" style="color:white; margin-right:15px;">Home</a>
            <a href="/admin/users"
               sec:authorize="hasRole('ADMIN')"
               style="color:white; margin-right:15px;">Users</a>
            <a href="/batteries" style="color:white; margin-right:15px;">🔋 Batteries</a>
            <a href="/battery-tests/all" style="color:white; margin-right:15px;">📊 Battery Tests</a>
            <a href="/usage" style="color:white; margin-right:15px;">🤖 Usage Logs</a>
        </div>

        <div style="color:white;">
            <span sec:authentication="name"></span>
            <a href="/login" style="color:white; margin-left:10px;">Logout</a>
        </div>
    </nav>
    <hr/>
</div>
</body>
</html>
