<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Batteries</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>
<h1>Batteries</h1>
<a th:href="@{/batteries/add}" class="btn btn-add">➕ Add Battery</a>
<table>
    <thead>
    <tr>
        <th>Serial</th><th>Brand</th><th>Capacity</th>
        <th>Status</th><th>RFID</th><th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="b : ${batteries}"  th:class="${b.rowClass}">
        <td th:text="${b.serialNumber}"></td>
        <td th:text="${b.brand}"></td>
        <td th:text="${b.capacitymAh}"></td>
        <td th:text="${b.status}" ></td>
        <td th:text="${b.rfidTag}"></td>
        <td>
            <a th:href="@{'/batteries/'  + 'edit/' + ${b.id}}" class="btn btn-edit">✏️ Edit</a> |
            <a th:href="@{'/batteries/' + 'delete/' + ${b.id}}" class="btn btn-delete"
               onclick="return confirm('Delete this battery?');">🗑 Delete</a>
        </td>
    </tr>
    </tbody>
</table>
<p><a href="/" class="btn">⬅ Back to Home</a></p>
</body>
</html>
