<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${battery.id == null} ? 'Add Battery' : 'Edit Battery'"></title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>

<h2 th:text="${battery.id == null} ? 'Add Battery' : 'Edit Battery'"></h2>
<div class="form-container">
<form th:action="@{/batteries/save}" th:object="${battery}" method="post">
    <input type="hidden" th:field="*{id}"/>

    Serial #: <input type="text" th:field="*{serialNumber}"/><br/>
    Brand: <input type="text" th:field="*{brand}"/><br/>
    Capacity (mAh): <input type="number" th:field="*{capacitymAh}"/>
    Purchase Date: <input type="date" th:field="*{purchaseDate}"/><br/>
    Entered Service: <input type="date" th:field="*{enteredService}"/><br/>
    Status:
    <select th:field="*{status}">
        <option value="NEW">NEW</option>
        <option value="GOOD">GOOD</option>
        <option value="DEAD">DEAD</option>
        <option value="RETIRED">RETIRED</option>
    </select><br/>
    Usage:
    <select th:field="*{usage}">
        <option value="Competition">Competition</option>
        <option value="Testing">Testing</option>
    </select><br/>
    RFID Tag: <input type="number" th:field="*{rfidTag}"/><br/>

    <button type="submit" class="btn">Save</button>
</form>
</div>
</body>
</html>
