<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<h1>
    <img src="/images/rtrlogo.png" height="340" width="340" />
    <p style="color:cornflowerblue;" th:size="25">Battery Tracking</p>
    <p style="color:cornflowerblue;" th:size="18">1792 RTR</p>

</h1>

<h1>Login</h1>

    <h1 th:if="${param.error}">
        <p style="color:red;">Invalid username or password</p>
    </h1>

<div class="form-container">
<form th:action="@{/login}" method="post">
    <label>Username:
        <input type="text" name="username"/>
    </label><br/>
    <label>Password:
        <input type="password" name="password"/>
    </label><br/>
    <button type="submit">Login</button>
</form>
</div>
</body>
</html>
