<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Upload Battery Test</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">

</head>
<div th:replace="~{fragments/navbar :: navbar}"></div>
<body>
<h2>Upload Battery Test CSV (Under development)</h2>
<div class="form-container">
<form th:action="@{/battery-tests/upload}" method="post" enctype="multipart/form-data">
    <input type="file" name="file"/>
    <button type="submit">Upload</button>
</form>
</div>
</body>
</html>